<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workout App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Workout App</h1>
        
        <div class="app-container">
            <!-- Exercise Selection Panel -->
            <div class="exercise-panel">
                <div class="tabs">
                    <button class="tab-button active" onclick="openTab('kettlebell')">Kettlebell</button>
                    <button class="tab-button" onclick="openTab('bodyweight')">Bodyweight</button>
                    <button class="tab-button" onclick="openTab('stretch')">Stretch</button>
                    <button class="tab-button" onclick="openTab('daily_routines')">Daily Routines</button>
                </div>
                
                <div id="kettlebell" class="tab-content" style="display:block">
                    <h3>Kettlebell Exercises</h3>
                    <div class="exercise-list">
                        {% for exercise in exercises.kettlebell %}
                        <label class="exercise-item">
                            <input type="checkbox" class="exercise-checkbox" value="{{ exercise }}">
                            {{ exercise }}
                        </label>
                        {% endfor %}
                    </div>
                </div>
                
                <div id="bodyweight" class="tab-content">
                    <h3>Bodyweight Exercises</h3>
                    <div class="exercise-list">
                        {% for exercise in exercises.bodyweight %}
                        <label class="exercise-item">
                            <input type="checkbox" class="exercise-checkbox" value="{{ exercise }}">
                            {{ exercise }}
                        </label>
                        {% endfor %}
                    </div>
                </div>
                
                <div id="stretch" class="tab-content">
                    <h3>Stretch Exercises</h3>
                    <div class="exercise-list">
                        {% for exercise in exercises.stretch %}
                        <label class="exercise-item">
                            <input type="checkbox" class="exercise-checkbox" value="{{ exercise }}">
                            {{ exercise }}
                        </label>
                        {% endfor %}
                    </div>
                </div>
                
                <div id="daily_routines" class="tab-content">
                    <h3>Daily Routines</h3>
                    <div class="exercise-list">
                        {% for routine in exercises.daily_routines %}
                        <div class="routine-item">
                            {{ routine }}
                        </div>
                        {% endfor %}
                    </div>
                </div>
                
                <div class="settings">
                    <div class="setting-group">
                        <label>Exercise Duration (seconds):</label>
                        <input type="number" id="exercise-duration" value="30" min="5">
                    </div>
                    <div class="setting-group">
                        <label>Rest Between Exercises (seconds):</label>
                        <input type="number" id="exercise-rest" value="15" min="5">
                    </div>
                    <div class="setting-group">
                        <label>Rest Between Sets (seconds):</label>
                        <input type="number" id="set-rest" value="60" min="15">
                    </div>
                    <div class="setting-group">
                        <label>Number of Sets:</label>
                        <input type="number" id="num-sets" value="3" min="1">
                    </div>
                </div>
                
                <div class="action-buttons">
                    <button id="start-workout" class="btn">Start Workout</button>
                    <button id="reset-selection" class="btn">Reset Selection</button>
                </div>
            </div>
            
            <!-- Timer and Selected Exercises Panel -->
            <div class="timer-panel">
                <div class="timer-display">
                    <div id="timer">00:00</div>
                    <div id="current-exercise">Ready to start</div>
                    <div id="set-info">Set: 0/0</div>
                    <div class="progress-container">
                        <div id="progress-bar"></div>
                    </div>
                </div>
                
                <div class="selected-exercises">
                    <h3>Selected Exercises</h3>
                    <div id="selected-list"></div>
                </div>
                
                <div class="timer-controls">
                    <button id="pause-timer" class="btn" disabled><i class="fas fa-pause"></i> Pause</button>
                    <button id="resume-timer" class="btn" disabled><i class="fas fa-play"></i> Resume</button>
                    <button id="stop-timer" class="btn" disabled><i class="fas fa-stop"></i> Stop</button>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Audio elements for sound alerts -->
    <audio id="start-sound" src="{{ url_for('static', filename='sounds/start.mp3') }}"></audio>
    <audio id="process-sound" src="{{ url_for('static', filename='sounds/process.mp3') }}"></audio>
    <audio id="rest-sound" src="{{ url_for('static', filename='sounds/rest.mp3') }}"></audio>
    <audio id="stop-sound" src="{{ url_for('static', filename='sounds/stop.mp3') }}"></audio>
    
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>